* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.conteiner {
  display: flex;
  flex-direction: column;
}

.sopra {
  width: 100vw;
  height: 80vh;
  display: flex;
}

.sinistra {
  width: 15vw;
  height: 100%;
  background: #7552ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.centro {
  height: 100%;
  width: 70vw;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro > img {
  max-width: 70%;
  max-height: 80%;
  display: none;
}

.centro .active {
  display: block;
}

.destra {
  width: 15vw;
  height: 100%;
  background: #7552ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sotto {
  height: 20vh;
  width: 100vw;
  background: #41a797;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 40px;
  width: 400px;
  height: 80px;
  background-color: #a69e8099;
}
